.add-to-quote-subtext{
    font-size: 12px;
    font-weight: normal;
    text-transform:initial;
    padding-top:3px;
}

.cart-add-to-cart-button-button, .product-list-control-button-wishlist, .product-detail-to-quote-add-to-quote-button {
    font-weight:bold !important;
}