.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px; /* Padding vertical, el horizontal lo maneja el contenedor global */
    background: linear-gradient(to bottom, #161D2A, #0A121A); /* linear-gradient(to bottom, #0A121A, #1A2A3A); */
    
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .nav {
    display: flex;
    gap: 30px; /* Espacio entre elementos como en la imagen */
    align-items: center;
  }
  
  .nav a {
    text-decoration: none;
    color: #ffffff; /* Color del texto en el nav */
    font-size: 16px;
    padding: 8px 12px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .nav a:hover {
    color: #FCC453; /* Color del texto al hacer hover */
  }
  
  .dropdown {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1A2A3A; /* Color de fondo del dropdown */
    border: 1px solid #333; /* Borde del dropdown */
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdownContent a {
    display: block;
    padding: 10px 20px;
    color: #ffffff; /* Color del texto en el dropdown */
    text-decoration: none;
  }
  
  .dropdownContent a:hover {
    background-color: #333; /* Color de fondo al hacer hover en el dropdown */
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }

  .dropdownLink {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre texto y flecha */
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 12px;
    transition: color 0.3s;
  }
  
  .arrow {
    display: inline-block;
    font-size: 12px;
    transition: transform 0.3s ease-in-out;
  }
  
  .rotate {
    transform: rotate(180deg);
  }