.order-wizard-submitbutton-container {
	@extend .col-xs-12;
	background: $sc-color-theme-border;
	padding:15px;
	margin-bottom:10px;
	display:none;
	float: none;

	@media (min-width: $screen-sm-min) {
		display:block;
	}

}
.order-wizard-submitbutton-module-top{
	margin-top: $sc-margin-lv2;
	margin-bottom: $sc-margin-lv4;
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.order-wizard-submitbutton-module-button{
	@extend .button-primary;
	@extend .button-large;
	@extend .button-generic;
}
