.store-locator-map-container {
	height:100%;

	.gm-ui-hover-effect{
		position: absolute !important;
		right: 35px !important;
		top: 7px !important;
	}
}

.store-locator-map {
	
	width:100%;
	
	height: 190px;

  	@media (min-width: $screen-sm-min) {
		height: 728px;
	}
}
