.cart-free-shipping-section {
  text-align: center;
  padding-top: 20px;
}

.freeshipping-layout .progress {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  height:20px;
}

.freeshipping-layout .freeShippingBar {
  width: 1%;
  height:20px;
  background-color: #4CAF50;
  border-radius: 5px;
}