
.header-logo {
	display: block;
	width: auto;
	height: auto;
	line-height: normal;
	margin: 0 auto;

	@media (min-width: $screen-md-min) {
		//width: 460px;
		max-width: 75%;
    	margin: 0;
	}
}

.header-logo-image {
	width: 100%;
	vertical-align: middle;
	@media (min-width: $screen-md-min) {
		max-width: 90%;
	}
}

.header-simplified-header .header-simplified-header-logo{
	text-align: center;

	.header-logo-image{
		width: auto;
	}
}
a.header-logo.img:hover {
   box-shadow: none !important;
}

/* Add new logo */
a.header-logo {
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: $screen-sm-max) {
			width: 210px;
			height: 38px;
	}	
}