.header-menu-myaccount-back {
    @extend .header-sidebar-menu-back;
}

.header-menu-myaccount-pop-icon {
    @extend .header-sidebar-menu-pop-icon;
}

.header-menu-myaccount-menu-push-icon {
    @extend .header-sidebar-menu-push-icon;
}

.header-sidebar-menu-wrapper .header-menu-myaccount-signout-link {
    display: none;
}

.header-menu-myaccount .header-menu-myaccount-back{
    color: $pa-accent;
}

.header-menu-myaccount a.active {
    background-color: $sc-color-theme-background-light;
    color: $pa-accent;
    font-weight: $sc-font-weight-bold;
}
.header-menu-myaccount-signout {
    display: none;
}

//applies only to the myaccount menu on desktop header
.header-menu-profile {
    /*new menu*/
    .header-menu-myaccount {
        // column-count: 5;
        // column-fill: balance;
        // column-gap: 10px;
        // margin-bottom: 20px;
    }

    .header-menu-myaccount-anchor {
        display: none;
    }

    .header-menu-myaccount-back {
        display: none;
    }

    .header-menu-myaccount-menu-push-icon {
        display: none;
    }

    .header-menu-myaccount-signout {
        display: inherit;
        border-bottom: 1px solid $sc-color-theme-border-light;
        @extend .clearfix;
    }

    .header-menu-myaccount-item-level2 {
        position: relative;
        width: 100%;
        padding-right: 10px;
        @media (max-width: $screen-xs-max){
            padding-top: 20px;
            display: inline-block;
            padding-right: $sc-padding-lv8;
        }
        
    }

    .header-menu-myaccount-anchor-level2 {
        @extend .header-menu-level2-anchor;
        &:hover,
        &:focus {
            color: $sc-main-navigation-submenu-link-hover-color;
        }
    }

    .header-menu-myaccount-span-level2 {
        @extend .header-menu-level2-anchor;
    }

    .header-menu-myaccount-anchor-level3 {
        @extend .header-menu-level3-anchor;
    }

    .header-menu-myaccount-signout-link {
        float: right;
        display: block;
        padding-bottom: 10px;
    }

    .header-menu-myaccount-signout-icon {
        @extend .fa;
        @extend %fa-sign-out;
        font-size: $sc-font-size-m;
    }
}

.header-menu-myaccount-level4 {
    @media (min-width: $screen-md-min) {
        display: none;
    }
}

.header-main-wrapper-standalone {
    .open .header-profile-welcome-link:before {
        top: 53px;
    }

    .open .header-profile-welcome-link:after {
        top: 54px;
    }

    .header-profile-menu-myaccount-container {
        background: transparent;
        border-bottom: 0;
        border-top: 0;
        box-shadow: none;
        min-height: auto;
        padding-bottom: 0;
        padding-top: 0;
        -webkit-box-shadow: none;

        .header-menu-myaccount-signout-link {
            background: white;
            border-bottom-color: transparentize($sc-neutral-shade-500, 1-0.2);
            border-top: 1px solid $sc-color-theme-border-light;
            margin-bottom: 0;
            margin-top: $sc-margin-lv3;
            overflow: auto;
            padding: $sc-padding-lv3;
            @include box-shadow(0 6px 12px transparentize($sc-neutral-shade-500, 1-0.175));
        }

        .header-menu-myaccount-item-level2 {
            display: none;
            @media (max-width: $screen-xs-max) {
                display: block;
            }
        }
    }
    .header-menu-myaccount-signout {
        margin-bottom: $sc-margin-lv7;
        border: none;
    }
}

a.header-menu-myaccount-back{
    display: inline-block;
}
a.header-menu-myaccount-close{
    float: right;
    > i{
        @extend .fa-2x;
        -webkit-text-stroke: 3px white;
        -webkit-font-smoothing: antialiased;
        color: $pa-dark-gray;
    }
}
.header-sidebar-menu-flyer{
    a.header-menu-myaccount-back,
    a.header-menu-myaccount-close{
        padding: 7px 20px;
        @media (min-width: $screen-sm-min){
            padding: $sc-padding-lv2 $sc-padding-lv1 * 9;
        }
    }
}
.header-sidebar-menu-myaccount{
    a.header-menu-myaccount-anchor{
        > i.header-menu-myaccount-menu-accordion-icon{
            @extend .icon-angle-up;
            font-size: $sc-navigation-icon-size;
            float: right;
            color: $pa-accent;
            margin-top: -2px;
            font-weight: $sc-font-weight-bold;
        }
        &.collapsed{
            background-color: $pa-white;
            color: $pa-dark-gray;
            > i.header-menu-myaccount-menu-accordion-icon{
                @extend .icon-angle-down;
                color: $pa-dark-gray;
                font-size: $sc-navigation-icon-size;
                font-weight: $sc-font-weight-bold;
            }
        }
    }
    .header-menu-myaccount{
        height: 0;
        overflow: hidden;

        & > li.header-menu-myaccount-item-level2 {
            display: block;
            a,span{
                text-transform: capitalize;
                padding: $sc-padding-lv2 $sc-padding-lv5;

                @media (min-width: $screen-sm-min){
                    padding: $sc-padding-lv2 $sc-padding-lv1 * 10;
                }
                i.header-menu-myaccount-menu-push-icon{
                    font-weight: $sc-font-weight-bold;
                    margin-right: 2px;
                }
            }
        }
		.header-menu-myaccount-level3 li{
			&:first-of-type > a{
                padding: 7px 20px;

				@media (min-width: $screen-sm-min){
                    font-size: $sc-font-size-xl;
                    padding: 10px 45px;
				}
			}
			&:not(:first-of-type) > a{
				@media (max-width: $screen-xs-max){
					font-size: $sc-font-size-l;
                }
                &.active{
                    background-color: $pa-white;
                }
			}
        }
        a.active{
            background-color: transparent;
        }
    }
}
.header-menu-profile .header-menu-myaccount-signout{
    border-bottom: 1px solid #dedede;
}
ul.header-menu-myaccount-level3 li {
    border-bottom: 1px solid #d1d5db;    
}

ul.header-menu-myaccount-level3 li:last-of-type {
    border-bottom: 0 !important;
}