*/bin/**
*/distros/**
*/gulp/**
*/HostingRootFiles/**
*/node_modules/**
*/ns_npm_repository/**
*/SupportScripts/**
*/Modules/suitecommerce/**
*/Modules/third_parties*/**
*/Modules/extensions/**
*/gulpfile.js
*/package.json
*/Workspace/Extras/**
