.error-management-page-not-found {
	@extend .container;
}

//awalabs
.error-management-page-not-found{
	text-align: center;
	padding: 40px 0;
	h1{
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	h2{
		color:$sc-color-secondary;
		text-transform: uppercase;
		margin-top: 20px;
		margin-bottom: 40px;
		line-height: 32px;
	}
}
