.credova-product-message{
    margin-bottom: 10px;;
}
.order-wizard-paymentmethod-external-module-row{
    display: flex;
    align-items: center;
}
.order-wizard-paymentmethod-external-module-column-left{
    width: 30%;
    padding: 0 15px;
}

.order-wizard-paymentmethod-external-module-column-right{
    width: 70%;
    padding: 0 15px;
}
