.icon-assambly {
	@extend .fa;
	@extend %fa-wrench;
}

.product-assambly-instructions span {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    pointer-events: none;
}

.product-assambly-instructions i {
	font-size: 20px;
	margin-top: 4px;
	pointer-events: none;
}

.assambly-instructions-modal-message {
    a {
        text-decoration: underline;
    }
}