.product-stock-childview .jewelry {
  display: none;
}

.requestquote-wizard-module-items .jewelry-warning {
  display: none;
}

.order-wizard-cartitems-module-ship .jewelry-warning {
  display: none;
}
