.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 180px;
  gap: 64px;
}

.main {
  margin-top: 80px; /* Ajusta este valor según la altura del header */
}

.about {
  padding: 80px 20px;
  background-color: var(--background-color);
  text-align: center;
}

.about h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.trustedBy {
  padding: 80px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.trustedBy h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
}