// color picker
$picker-large: 40px;
$picker-medium: 25px;
$picker-small: 20px;
$picker-xsmall: 10px;

//New color picker
$picker-color-large: 40px;
$picker-color-medium: 25px;
$picker-color-small: 15px;
$picker-color-xsmall: $picker-color-small;

// images
$img-larger: 185px;
$img-large: 150px;
$img-medium: 100px;
$img-small: 60px;

//target size
$sc-target-size:40px;
$sc-target-size-mobile:36px;

$sc-flyout-arrow-height: 7px;
$sc-flyout-arrow-shadow-height: $sc-flyout-arrow-height - 1;

//$sc-border-radius: 6px;
$sc-border-radius: 0;


$sc-animation-base-duration: 300ms;

$ipad-min-width: 768px;
$ipad-max-width: 1024px;
$screen-xs-mid: 600px;
$screen-xs-medium: 360px;
$screen-xs-small: 359px;
$executive-page-lg-min-width: 1250px;
$executive-page-xs-min-width: 375px;
