@import "orderwizard_delivery_instructions";


.white-glove-service-message {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 400;
  border: 1px solid #5a5959;
  margin: 15px 0;
  padding: 6px 10px;
  display: inline-block;
  color: #000;
}