.contactusloggedin-case-message ,
.contact-us-form-feedback-message {
    text-align:center;
    .global-views-message-button {
        display: none;
    }
    .global-views-message > div {
        padding: 0;
    }
}
