.cart-summary-button-container .cart-summary-btn-paypal-express {
    margin: 0 !important;
    padding: 0 !important;
}

.cart-summary-button-container .paypal-options-container {
    padding: 15px 0;
}

.paypal-options-divider {
    text-align: center;
    margin: 20px 0;
}